<a href="https://colab.research.google.com/github/AvivGelfand/AvivGelfand/blob/main/101_Players_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PlayCenter Data Analysis

## About this Exercise

* In this exercise we're going to use the PlayCenter database. PlayCenter is an imaginary online platform, allowing users to browse and download mobile games of different genres.
* PlayCenter database consists of a single table: Players - which contains information about the company customers
* It is recommended that you limit the dataset of each of the following exercises to the first 5 rows.

## Download the Dataset

In [ ]:
import pandas as pd

In [ ]:
players = pd.read_csv('https://raw.githubusercontent.com/RamKedem/Datasets/main/players.csv')

## Tasks

### Basic SELECT Statements

1. Display all of the information inside players

2. Retrieve the last_name, first_name and city for each player

3. Display the email_address, country, and street_address for each player

4. Display the player_id, total_playing_minutes, and installed_games for each player. <br>
The installed_games column represents the amount of games each player has purchased/installed

5. Display the player_id, age_group, and total_playing_minutes for each player

### Calculations, Concatenations and Column Aliases

In the following tasks - please provide a clear, easy to understand alias, for columns representing calculations or concatenations.

6. <b> using the `assign()` method </b>, display for each player - the player_id, amount_spent_usd, and a new calculation representing the amount spent in euros, with exchange rate of 0.8. <br>
The amount_spent_usd column represents the amount of money spent by each player in USD so if the current exchange rate is 0.8, the calculation would be amount_spent_usd * 0.8.

7. <b> Using the `insert()` method </b>, create a new calculation representing the average amount spent on each game (amount_spent_usd / installed_games). <br> Determine the best location for the new column on your own.

8. Create a new column on the table's far right side, representing the ratio between installed and uninstalled games (uninstalled_games / installed_games)

9. <b> Using the `assign()` method </b>, display the:
* player_id
* age_group
* player’s first_name concatenated with his/hers last_name

10. <b> Using the `assign()` method </b>, display the: 
* player_id
* email_address 
* country concatenated with city and street_address
* total playing time in hours (total_playing_minutes / 60)

11. Write a query to display the following string for each player :
‘full name <b> preferred language </b> is <b> preferred_language </b>’ <br>
(full name is the result of concatenating first_name and last_name) <br>
for example: “Ram Kedem preferred language is: Hebrew”

### Distinct

12. Write a query to display the distinct values inside the preferred_language column

13. Write a query to display the distinct list of values inside the gender column

14. Write a query to display the distinct list of values inside the age_group column

15. Write a query to display the distinct combination of gender and age_group columns